<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/header') %>
</head>

<body class="homebody">
  <div class="parentlogin">
    <%- include('./partials/nav') %>

      <div class="background">
        <div class="homepage">
          <h1 class="home-heading">
            <span>One</span> <span>Destination</span> <span>For</span> <span>All</span> <span>Your</span>
            <span>Journeys.</span>
          </h1>
          <p class="home-details"><span>Enjoy</span> <span>amazing</span> <span>fares</span> <span>to</span>
            <span>our</span> <span>growing</span> <span>network</span> <span>in</span> <span>India</span><br>
            <span>Book</span> <span>Your</span> <span>Ticket</span>
          </p>
          <button class="know-more"><a href="/fightsdetail">Know More</a></button>
        </div>
      </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>

</html>